/*Importing Google fonts*/
@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

/*importing all compnents file*/
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

/*General style rules for fonts and colour*/
body {
	font-family: 'Lora', serif;
	background-color: rgb(240,240,240);
	font-size: 18px;
	margin: 40px;
}

h1,h2,h3{
	font-family:'Roboto', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}
